version: '3'
services:
  app:
    build: .
    container_name: normas
    ports:
      - "8015:80"
    restart: always
    volumes:
      - /data/normas:/var/www/storage/app/public
      - /var/www/node_modules
      - /var/www/vendor
    networks:
      - diti

networks:
  diti:
    external: true